{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/search/search.css')}}">
{% endblock %}

{% block title %}Vous cherchez {{search}}... 🔎 {% endblock %}

{% block body %}
    <div class="container-sm mt-4">
        <div class="row">
            <div class="col text-center">
                <h1>Vous recherchez "{{ search }}"</h1>
                <div class="search d-flex align-items-center justify-content-center mt-4">
                    <form class="w-50 d-flex ms-4" action="{{ path('search') }}">
                        <input type="text" class="form-control fs-5 fw-bold" name="search" placeholder="{{ search }}">
                        <button type="submit" ><i class="fas fa-search ms-3 fs-3"></i></button>  
                    </form>
                    
                </div>
                <button class="btn btn-outline-primary mt-4 fs-5" id="users">Utilisateurs</button>
                <button class="btn btn-outline-primary mt-4 fs-5" id="posts">Films</button>
                <div class="results mt-4">
                    <div id="user_results">
                        {% if posts is not empty or users is not empty %}
                        {% if users is not empty %}
                        <table class="table">
                            <thead>
                                <tr class="fs-5">
                                    <th scope="col">Pseudo</th>
                                    <th scope="col">Rôle</th>
                                    <th scope="col">Inscrit depuis</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr onclick="window.location.href='{{ path('user_profile', {id : user.id}) }}'">
                                    <td>
                                        <img src="{{ asset( 'uploads/profilePicture/'~ user.profile_picture) }}" alt="profile-pic" class="profilePicture me-3">
                                        {{user.username}}
                                    </td>
                                    {% if "ROLE_ADMIN" in user.roles %}
                                        <td class="admin"><p>Admin</p></td>
                                    {% else %}
                                        <td class="user"><p>Membre</p></td>
                                    {% endif %}
                                    {% set difference = date(user.register_at).diff(date(currentDate)) %}
                                    {% if difference.days >= 2 %}
                                        <td>{{ difference.days }} jours</td>
                                    {% else %}
                                        <td>Aujourd'hui</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% elseif users is empty %}
                            <p id="userEmpty" class="fs-2 mt-5">Aucun utilisateur pour "{{ search }}"</p>
                        {% endif %}
                    </div>
                    <div id="post_results">
                        {% if posts is not empty %}
                        <table class="table mt-5">
                            <thead>
                                <tr class="fs-5">
                                    <th scope="col">Film</th>
                                    <th scope="col">Réalisateur</th>
                                    <th scope="col">Date de sortie</th>
                                    <th scope="col">Genres</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                    <tr onclick="window.location.href='{{ path('post_view', {id : post.id}) }}'">
                                    <td>
                                        <img src="{{ asset( 'uploads/covers/'~ post.image) }}" alt="Affiche du film" class="cover me-3">
                                        {{post.title}}
                                    </td>
                                    <td>{{ post.director }}</td>
                                    <td>{{ post.released_at|date('d/m/Y') }}</td>
                                    <td>
                                        {% for category in post.categories %}
                                        <small class="badge bg-secondary">{{ category }}</small>
                                    {% endfor %}
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% elseif posts is empty%}
                            <p id="postEmpty" class="fs-2 mt-5">Aucun film pour "{{ search }}"</p>
                        {% endif %}
                        {% elseif users is empty and posts is empty %}
                            <p class="fs-2 mt-5 noResult">Aucun résultat</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    const users = document.getElementById("users");
    const user_results = document.getElementById("user_results");
    const posts = document.getElementById("posts");
    const post_results = document.getElementById("post_results");

    const userEmpty = document.getElementById("userEmpty");
    const postEmpty = document.getElementById("postEmpty");
    
    users.onclick = function () {
        if (user_results.style.display !== "block") {
            user_results.style.display = "block";
        }
        post_results.style.display = "none";
        userEmpty.style.display = "block";

    };

    posts.onclick = function () {
        if (post_results.style.display !== "block") {
            post_results.style.display = "block";
        }
        user_results.style.display = "none";
        postEmpty.style.display = "block";
    };

</script>
{% endblock %}